<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ooredoo.bizstore"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="com.ooredoo.bizstore.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen"/>
    <!-- TODO make this not required again after android.hardware.camera.any is available -->

    <application
        android:name=".BizStore"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}"/>

        <!-- Register AnalyticsReceiver and AnalyticsService to support background
       dispatching on non-Google Play devices. -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>

        </receiver>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        
        <!-- metadata for version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ooredoo_bizstore.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>

        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value=" AIzaSyD8thjWWw0Stqgh_dmg8JUFJCufr3AsXw0"/>-->

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_release_api_key"/>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.activities.SignUpActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|adjustNothing"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            </activity>
        <activity android:name=".ui.activities.FilterActivity"/>
        <activity
            android:name=".ui.activities.ShareAppActivity"
            android:label="@string/share_app_with_friends"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|"/>
       <!-- <activity
            android:name=".ui.activities.MyDealsActivity"
            android:label="@string/my_deals"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity"/>-->
        <activity
            android:name=".ui.activities.MyFavoritesActivity"
            android:label="@string/my_favorites"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity"/>
        <activity
            android:name=".ui.activities.DealDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.ooredoo.bizstore.deal_detail"/>

                <data
                    android:scheme="http"
                    android:host="@string/host"
                    android:pathPrefix="/deal_detail"
                    android:pathPattern=".*"/>

                <data
                    android:scheme="http"
                    android:host="@string/host"
                    android:pathPrefix="/deal_detail"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.BusinessDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"

            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.ooredoo.bizstore.business_detail"/>

                <data
                    android:scheme="http"
                    android:host="@string/host_business"
                    android:pathPrefix="/business_detail"
                    android:pathPattern=".*"/>

                <data
                    android:scheme="http"
                    android:host="@string/host_business"
                    android:pathPrefix="/business_detail"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/About_Us"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.MyAccountActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/my_account"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.RecentViewedActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/recent_viewed"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.RecentSearchesActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/recent_searches"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/my_notifications"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.MallDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.RedeemedDealsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/redeemed_deals"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.HelpActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/help"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.CitySelectionActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/my_city"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ooredoo.bizstore.ui.activities.CaptureActivity"
            android:screenOrientation="sensorLandscape"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.ooredoo.bizstore"/>
            </intent-filter>

        </receiver>

        <service
            android:name="com.ooredoo.bizstore.services.MyGcmListenerService"
            android:exported="false">

            <intent-filter>

                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

            </intent-filter>

        </service>

        <service
            android:name="com.ooredoo.bizstore.services.MyInstanceIDListenerService"
            android:exported="false">

            <intent-filter>

                <action android:name="com.google.android.gms.iid.InstanceID"/>

            </intent-filter>

        </service>


        <receiver android:name="com.ooredoo.bizstore.receivers.SMSReceiver">

            <intent-filter>

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

            </intent-filter>

        </receiver>

    </application>

</manifest>
