<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ooredoo.bizstore"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".BizStore">

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:configChanges="screenSize"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >

             <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>
