<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ooredoo.bizstore"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".BizStore"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- metadata for version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ooredoo_bizstore.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:configChanges="screenSize"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.FilterActivity"
            android:label="@string/title_activity_filter"/>
        <activity
            android:name=".ui.activities.ShareAppActivity"
            android:label="@string/share_app_with_friends"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|"/>
        <activity
            android:name=".ui.activities.MyDealsActivity"
            android:label="@string/my_deals"
            android:parentActivityName=".ui.activities.HomeActivity"/>
        <activity
            android:name=".ui.activities.DealDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.ooredoo.bizstore.deal_detail"/>

                <data
                    android:scheme="http"
                    android:host="ooredoo.bizstore"
                    android:pathPrefix="/deal_detail"
                    android:pathPattern=".*"/>

                <data
                    android:scheme="http"
                    android:host="ooredoo.bizstore"
                    android:pathPrefix="/deal_detail"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.BusinessDetailActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.ooredoo.bizstore.business_detail"/>

                <data
                    android:scheme="http"
                    android:host="ooredoo.bizstore"
                    android:pathPrefix="/business_detail"
                    android:pathPattern=".*"/>

                <data
                    android:scheme="http"
                    android:host="ooredoo.bizstore"
                    android:pathPrefix="/business_detail"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/About_Us"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.MyAccountActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/my_account"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.HelpActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/help"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.RecentViewedActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/recent_viewed"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.RecentSearchesActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/recent_searches"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/my_notifications"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
